{% extends "layout.html" %}
{% block title%}
      Register
{% endblock %}

{% block content%}
      <div class="cla">
            <form method="POST">
                  <br>
                  <h2 class ="s">Create Account </h2>

                  <div class="container">
                        {{ form.csrf_token }}

                        {{form.username.label}}
                        {% if form.username.errors%}
                        <p>
                        {%for error in form.username.errors %}
                              <span>
                                    {{error}}
                              </span>
                        {%endfor%}
                        </p>
                        {%else%}
                        {{ form.username()}}
                        {%endif%}
            
                        <br>
                        {{form.email.label}}
                        {% if form.email.errors%}
                        <p>
                        {%for error in form.email.errors %}
                              <span>
                                    {{error}}
                              </span>
                        {%endfor%}
                        </p>
                        {%else%}
                        {{ form.email()}}
                        {%endif%}

                        <br>
            
                        {{form.password.label}}
                        {% if form.password.errors%}
                        <p>
                        {%for error in form.password.errors %}
                              <span>
                                    {{error}}
                              </span>
                        {%endfor%}
                        </p>
                        {%else%}
                        {{ form.password()}}
                        {%endif%}
            
                        <br>
                        {{form.repassword.label}}
                        {% if form.repassword.errors%}
                        <p>
                        {%for error in form.repassword.errors %}
                              <span>
                                    {{error}}
                              </span>
                        {%endfor%}
                        </p>
                        {%else%}
                        {{ form.repassword()}}
                        {%endif%}

                        <br>
            
                        {{form.submit(class ="button")}}

                        <br>
            
                        <label>
                              <input type="checkbox" checked="checked" name="remember"> Remember me
                        </label>
                  </div>

                  <div class="container" style="background-color:#f1f1f1">
                        <button type="button" class="cancelbtn">Cancel</button>
                        <span class="psw">Have an account<a href="{{url_for('login')}}">Login</a></span>
                  </div>
            </form>
      </div>

      <style>
            body {font-family: Arial, Helvetica, sans-serif;}
            form {border: 3px solid #f1f1f1;}

            input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
            }
            .s{
                  display:block;
                  justify-content: center;
                  align-items: center;
                  text-align: center;
                  
            }
            .cla{
                  justify-content: center;
                  display: flex;
                  margin: 45px;
            }
            .button {
            background-color: #04AA6D;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            }

            .button:hover {
            opacity: 0.8;
            }

            .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
            }

            .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
            }

            img.avatar {
            width: 40%;
            border-radius: 50%;
            }

            .container {
            padding: 16px;
            }

            span.psw {
            float: right;
            padding-top: 16px;
            }

            /* Change styles for span and cancel button on extra small screens */
            @media screen and (max-width: 300px) {
                  span.psw {
                  display: block;
                  float: none;
                  }
                  .cancelbtn {
                  width: 100%;
                  }
            }
      </style>

{% endblock %}